.title-home-page {
    font-weight: 700;
    font-size: 30px;
}

.paragraph-home-page {
    font-size: 15px;
}

.row-home-page {
    padding-top: 20%;
    align-items: center;
}

.div-span-home-page {
    display: flex;
    justify-content: center;
}

span {
    --text-base: 277deg, 55%, 40%;
    --text-hover: 307deg, 72%, 86%;
    --shadow-start: 52deg, 100%, 72%;
    --shadow-end: 282deg, 90%, 50%;
    --shadow-inner: 277deg, 90%, 62%;
    all: unset;
    color: black;
    font: 700 1.125rem/1.2 Raleway, sans-serif;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    padding: 0.85em;
    max-width: 100%;
    width: 12em;
    background: inherit;
    background-clip: padding-box;
    border: 3px solid black;
    border-radius: 1em;
    cursor: pointer;
    position: relative;
    transition: 0.25s ease-out;
    background-color: yellow;
}

span::before,
span::after {
    content: "";
    border-radius: inherit;
    transition: inherit;
    position: absolute;
    inset: 0;
    pointer-events: none;
}

span::before {
    inset: -0.2em;
    z-index: -1;
    background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
    filter: blur(1.2em) saturate(1.2);
    transform-origin: bottom;
    transform: scaleY(0.5);
    opacity: 0;
}

span::after {
    box-shadow: inset 0 0 0 1px #fff, 0 0 0 4px rgba(255, 255, 255, 0.7), 1px 1px 0 4px #fff;
    mix-blend-mode: overlay;
    opacity: 0;
}

span:hover,
span:focus {
    color: hsla(var(--text-hover), 1);
    border-color: transparent;
    box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
}

span:hover::before,
span:hover::after,
span:focus::before,
span:focus::after {
    transform: none;
    opacity: 1;
}